.App {
    text-align: center;
}

.MuiAppBar-colorPrimary {
    background-color: white !important;
    color: black !important;
}

.MuiInputBase-root {
    width: 350px !important;
}

.MuiButtonBase-root {
    color: 'white' !important;
    background-color: purple !important;
}